* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.container {
  width: 1340px;
  margin: 0 auto;
}

.subheading {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.round {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subheading h6 {
  font-size: 16px;
  color: #101010;
  line-height: 27px;
  font-weight: 400;

}

.round_inner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #101010;
}

.section_title {
  font-size: 44px;
  color: #101010;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
}

/* -- ----------- Navbar Start Here --------- -- */
#navbar {
  background: #fff;
  padding: 25px 0;
}

.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common_btn {
  padding: 15px 32px;
  background: #FF6B00;
  border-radius: 6px;
  border: none;
  font-size: 21px;
  font-family: 500;
  line-height: 20px;
  color: #fff;
  text-transform: capitalize;
}

.menu {
  display: flex;
  list-style: none;
  column-gap: 32px;
  transition: all linear 0.7s;
}
.menu a:hover{
  background-color: #FFF5EF;
  background: #FFF5EF;
  padding: 10px;
  border-radius: 7px;
}
.menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #101010;
  line-height: 27px;
  text-transform: capitalize;
}

/* -- ----------- Navbar End Here --------- -- */


/* -- ----------- Banner Start Here --------- -- */
#banner {
  background: linear-gradient(256.24deg, rgba(255, 195, 152, 0.2) 26.56%, rgba(255, 234, 190, 0.3) 100%);
}

.banner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_content {
  width: 678px;

}

.banner_img {
  width: 606px;
  height: 850px;
  overflow: hidden;
}

.banner_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner_content h1 {
  font-size: 70px;
  font-weight: 700;
  color: #101010;
  line-height: 95px;
  margin-top: 10px;
}

.banner_content p {
  margin-top: 46px;
  max-width: 649px;
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

/* -- ----------- Banner End Here --------- -- */

/* -- ----------- About Start Here --------- -- */
#about {
  padding-top: 128px;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_igm {
  width: 560px;
  height: 768px;
  border-radius: 6px;
  overflow: hidden;
}

.about_igm img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_content {
  width: 645px;
}

.about_content .section_title {
  max-width: 392px;
  margin-top: 10px;
  text-transform: none;
}

.about_content p {
  font-size: 16px;
  color: #606060;
  font-weight: 400;
  line-height: 27px;
  margin-top: 20px;
}

.count_wrapper {
  margin: 50px 0;
  display: flex;
  column-gap: 30px;
}

.count_item {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.count_item span {
  color: #FF6B00;
  font-size: 21px;
  font-weight: 700;
  line-height: 150%;
}

.count_item h5 {
  color: #101010;
  font-size: 21px;
  font-weight: 500;
  line-height: 20px;
}

.about_list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about_list li {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 50px;
}

.about_list li span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

/* -- ----------- About End Here --------- -- */


/* -- ----------- Service Start Here --------- -- */
#service {
  margin-top: 137px;
  margin-bottom: 130px;
}

.service_heading {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.service_wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.service_item {
  width: 312px;
  border-radius: 6px;
  border: 1px solid #FFE2D1;
  padding: 46px 30px 50px 30px;
  text-align: center;
  transition: all linear 0.3s;
}
.service_item:hover{
  background: #FFF5EF;
  border: 1px solid #FFF5EF;
}
.service_item img {
  margin: 0 auto;
  display: block;
}

.service_item h4 {
  color: #101010;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
}

.service_item p {
  margin-top: 13px;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
/* -- ----------- Service  End Here --------- -- */